section.main-content
	.main-content__wrapper
		.main-content__box
		
			.test-wrapper
				.test-title
					h1 История Казахстана. ВОПРОС № 1

				.test-question__text
					p Казахи начали обособляться как самостоятельная  народность  в период правления: 

				ul
					li
						div
							input(type="radio" id="radio-1" class="radio" name="radio")
							label(for="radio-1") Кучлука
					li
						div
							input(type="radio" id="radio-2" class="radio" name="radio")
							label(for="radio-2") Абылая
					li
						div
							input(type="radio" id="radio-3" class="radio" name="radio")
							label(for="radio-3") Джучи
					li
						div
							input(type="radio" id="radio-4" class="radio" name="radio")
							label(for="radio-4") Чингизхана
					li
						div
							input(type="radio" id="radio-5" class="radio" name="radio")
							label(for="radio-5") Узбека
							
				


			.test-wrapper
				.test-title
					h1 История Казахстана. ВОПРОС № 2

				.test-question__text
					p Казахи начали обособляться как самостоятельная  народность  в период правления: 

				ul
					li
						div
							input(type="radio" id="radio-2-1" class="radio" name="radio-2")
							label(for="radio-2-1") Кучлука
					li
						div
							input(type="radio" id="radio-2-2" class="radio" name="radio-2")
							label(for="radio-2-2") Абылая
					li
						div
							input(type="radio" id="radio-2-3" class="radio" name="radio-2")
							label(for="radio-2-3") Джучи
					li
						div
							input(type="radio" id="radio-2-4" class="radio" name="radio-2")
							label(for="radio-2-4") Чингизхана
					li
						div
							input(type="radio" id="radio-2-5" class="radio" name="radio-2")
							label(for="radio-2-5") Узбека
							
				


			.test-wrapper
				.test-title
					h1 История Казахстана. ВОПРОС № 3

				.test-question__text
					p Казахи начали обособляться как самостоятельная  народность  в период правления: 

				ul
					li
						div
							input(type="radio" id="radio-3-1" class="radio" name="radio-3")
							label(for="radio-3-1") Кучлука
					li
						div
							input(type="radio" id="radio-3-2" class="radio" name="radio-3")
							label(for="radio-3-2") Абылая
					li
						div
							input(type="radio" id="radio-3-3" class="radio" name="radio-3")
							label(for="radio-3-3") Джучи
					li
						div
							input(type="radio" id="radio-3-4" class="radio" name="radio-3")
							label(for="radio-3-4") Чингизхана
					li
						div
							input(type="radio" id="radio-3-5" class="radio" name="radio-3")
							label(for="radio-3-5") Узбека
							
				button.btn.btn-success Завершить

		
		.sidebar
			.test-table
				h6.test-table__title ОСТАЛОСЬ: 25 ИЗ 25
				.test-table__main
					table(align="center", border="0")
						tbody
							tr
								td
									a(href="") 1
								td
									a(href="") 2
								td
									a(href="") 3
								td
									a(href="") 4
								td
									a(href="") 5
							tr
								td
									a(href="") 6
								td
									a(href="") 7
								td
									a(href="") 8
								td
									a(href="") 9
								td
									a(href="") 10
							tr
								td
									a(href="") 11
								td
									a(href="") 12
								td
									a(href="") 13
								td
									a(href="") 14
								td
									a(href="") 15
							tr
								td
									a(href="") 16
								td
									a(href="") 17
								td
									a(href="") 18
								td
									a(href="") 19
								td
									a(href="") 20
							tr
								td
									a(href="") 21
								td
									a(href="") 22
								td
									a(href="") 23
								td
									a(href="") 24
								td
									a(href="") 25
					
					button.btn.btn-success Завершить тест

			include ../navigation/navigation.pug
