include mixins/mixins
include ./settings/settings.pug

<!DOCTYPE html>
html(lang="ru")
	head
		+settings("Dual Education")
	body
		include ./blocks/header/header.pug
		include ./blocks/main-content/main-content.pug
		
		link(rel="stylesheet" href="css/main.min.css")
		script(src="js/scripts.min.js")
		//- SVG
		include mixins/sprite
	
