header.header
	.header-menu
		.header-menu__wrapper
			nav.header-menu__main
				a(href="/").brand 
					|Dual
					span Education
				ul
					li
						a(href="require-tests.html") ент онлайн
					li
						a(href="#") подготовка
					li
						a(href="#") ответы
					li
						a(href="#") скачать
					li
						a(href="#") еще
					li.header-reg
						span
							a(href="#") 
								i(class="fas fa-sign-in-alt")
								| Войти
						span 
							a(href="#") 
								i(class="fas fa-user-plus")
								| Зарегистрироваться
				
				button(class="hamburger hamburger--collapse" type="button")
					span(class="hamburger-box")
						span(class="hamburger-inner")
					

	