section.main-content
	.main-content__wrapper
		.main-content__box
			h5.main-content__heading ВОУД, КТА и ЕНТ 2017-2018 | Образовательный портал Казахстана
			.main-content__grid
				.my-col-1
					h2 Запоминалка ЕНТ
					p Запоминайте вопросы и ответы ЕНТ, КТА по таким предметам, как история Казахстана, Биология и География. Это - один из лучших способов подготовки. Теперь это еще проще! Попробуйте сейчас при помощи этого сервиса.  
					a(href="#").main-content__info-button Открыть запоминалку
				.my-col-1
					h2 Запоминалка ЕНТ
					p Запоминайте вопросы и ответы ЕНТ, КТА по таким предметам, как история Казахстана, Биология и География. Это - один из лучших способов подготовки. Теперь это еще проще! Попробуйте сейчас при помощи этого сервиса.  
					a(href="#").main-content__info-button Открыть запоминалку
				.my-col-1
					h2 Запоминалка ЕНТ
					p Запоминайте вопросы и ответы ЕНТ, КТА по таким предметам, как история Казахстана, Биология и География. Это - один из лучших способов подготовки. Теперь это еще проще! Попробуйте сейчас при помощи этого сервиса.  
					a(href="#").main-content__info-button Открыть запоминалку
			
			.main-content__under-grid
				h2.main-content__under-grid-heading Образовательный портал Казахстана представляет вам лучший метод подготовки к ЕНТ, КТА и ВОУД 2017-2018. 
				p.main-content__under-grid-content Если вы хотите достигнуть хороших результатов в подготовке к ЕНТ, КТА или ВОУД, вам необходимо пользоваться и образовательными сайтами. Сейчас вы находитесь на лучшем в Казахстане сайте для подготовки к ЕНТ, КТА и ВОУД в 2017-2018 году. Проходите онлайн тестирование, скачивайте книги и пособия для подготовки, запоминайте вопросы ЕНТ. Читайте новости! Используя этот сайт, вы наберете заветные 125 баллов! Желаем вам успеха!

		.sidebar
			include ../navigation/navigation.pug

